html {
    scroll-behavior: smooth;
}









* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f4f4;
    color: #333;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: #111;
    color: white;
    position: sticky;
    top: 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Hero */
.hero {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    color: white;
}

.hero button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
}

/* Sections */
section {
    padding: 60px 50px;
}

/* Skills */
.bar {
    width: 100%;
    height: 10px;
    background: #ddd;
    margin-bottom: 20px;
}

.bar div {
    height: 10px;
    background: #4facfe;
}

.html { width: 80%; }
.css { width: 75%; }
.java { width: 60%; }

/* Projects */
.project-box {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Contact */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
    padding: 10px;
}

button {
    padding: 10px;
    background: #4facfe;
    border: none;
    color: white;
    cursor: pointer;
}



nav ul li a:hover {
    color: #4facfe;
    transition: 0.3s;
}


button:hover {
    background: black;
    transition: 0.3s;
}





.download-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: black;
    color: white;
    text-decoration: none;
}

.download-btn:hover {
    background: #333;
}